<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Elevate Zoom -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta
            content="upgrade-insecure-requests"
            http-equiv="Content-Security-Policy"
    />

    <!-- Bootstrap CSS -->
    <link
            crossorigin="anonymous"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            rel="stylesheet"
    />


    <!-- https://www.youtube.com/watch?v=BILPsvOnUPE -->

    <title>{{title}}</title>

</head>

<body>
<div class="container">
    {% if user in all_am %}
    <div class="row">{% include 'c2/am/navbar.html' %}</div>
    <br/><br/><br/>

    {% elif user in all_ev %}
    <div class="row">{% include 'c2/ev/navbar.html' %}</div>
    <br/><br/><br/>

    {% elif user in all_emp %}
    <div class="row">{% include 'c2/emp/navbar.html' %}</div>
    <br/><br/><br/>

    <!-- This is for Danao -->
    {% elif user in all_ev_d %}
    <div class="row">{% include 'danao/ev/navbar.html' %}</div>
    <br/><br/><br/>

    {% elif user in all_emp_d %}
    <div class="row">{% include 'danao/emp/navbar.html' %}</div>
    <br/><br/><br/>
    {% elif user in all_am_d %}
    <div class="row">{% include 'danao/am/navbar.html' %}</div>
    <br/><br/><br/>

    {% else %}

    {% endif %}

    <!-- End here -->
    <div class="row">
        <div class="page-wrapper">
            {% block content %}
            {% endblock %}<br/>

                {% include 'footer.html' %}

        </div>

    </div>
    <!-- This is for error message -->
   {% include 'message_alert.html' %}
    <!-- End here -->
</div>


<script>
    document.getElementById("footer-year").textContent = new Date().getFullYear();
</script>

<script
        crossorigin="anonymous"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
></script>

</body>
</html>
