{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<style>
#loginTitle {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#loginInputs{
  border-radius: 50px 50px;
}
#login {
  background-color: block; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #c33764, #1d2671);
  border-radius: 15px 50px;
  padding: 15px;
}

</style>


<div class="container">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6" id="login">
            <h2 class="text-center" id="loginTitle">Upload Recent Image</h2>

            <form class="mt-3" enctype="multipart/form-data" method="post">
                {% csrf_token %}


                <div class="mb-3">
                    <label class="form-label text-white">Assessment Title</label>
                    {% render_field form.title class="form-control" id="loginInputs" %}
                </div>

                <div class="mb-3">
                    <label class="form-label text-white">Recent Image</label>

                    {% render_field form.recent_image class="form-control" id="loginInputs" %}
                </div>

                <button class="btn btn-primary" type="submit" id="loginInputs">Upload</button>
            </form>

        </div>
        <div class="col-3">

        </div>

    </div>
</div>


{% endblock %}